@use "../base/variables" as *;
#floating-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 49;
  backdrop-filter: blur(8px);
  header {
    max-width: 1440px;
    margin: auto;
    padding: $space-xs;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 60px;
    }
  }
}
#menu-int {
  z-index: 50;
  background: transparent;
  backdrop-filter: blur(8px);
  > a {
    div:hover {
      background-color: color-mix(
        in oklab,
        oklch(1 0 0 / 15%) 30%,
        transparent
      );
      backdrop-filter: blur(60px);
    }
  }
}
