.json-block {
  width: 100%;
  max-width: 509px;
  max-height: 280px;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  margin: auto;
  background-color: #14171ebd;
  color: #abb2bf;
  padding: 1rem;
  border: 2px solid #262c39;
  border-radius: 8px;
  font-family: "Fira Code", monospace;
  font-size: 1.1rem;
  white-space: pre-wrap;
}

.json-key {
  color: #9cdcfe;
}

.json-string {
  color: #ce9178;
}

.json-number {
  color: #b5cea8;
}

.json-boolean {
  color: #569cd6;
}

.json-bracket {
  color: #d4d4d4;
}
