#home > section.project > div:nth-child(2) {
  article {
    border: 1px solid #403e3e;
    border-radius: 4px;
    background-color: color-mix(in oklab, oklch(1 0 0 / 15%) 60%, transparent);
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: color-mix(
        in oklab,
        oklch(1 0 0 / 15%) 90%,
        transparent
      );
      border-color: #555;
      transform: translateY(-15px);
    }
    > img {
      border-radius: 4px 4px 0 0;
      width: 100%;
      height: 170px;
      object-fit: cover;
      object-position: top;
    }
    > div {
      padding: 17px;
      p {
        margin-bottom: 10px;
      }
      > div:nth-child(3) {
        display: flex;
        gap: 8px;
        margin-bottom: 15px;
      }
      > div:nth-child(4) {
        display: flex;
        gap: 8px;
        justify-content: space-between;
      }
    }
  }
}
