@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

:root {
  --background: #1e1e1f;
  --white: #d6d6d6;
  --body: #121212;
  --nav: #282829;
  --navtext: #a2a2a2;
  --border: #363636;
  --contact-hover: #bcbcbc;
  --competence: #458eb1;
  --hr: #436a7e;

  --fs-1: 32px;
  --fs-2: 24px;
  --fs-3: 18px;
  --fs-p: 15px;
  --fs-c: 14px;

  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
}
h1 {
  font-size: var(--fs-1);
  font-weight: 600;
}

h2 {
  font-size: var(--fs-2);
  font-weight: 700;
}

h3 {
  font-size: var(--fs-3);
  font-weight: 700;
}

p {
  font-size: var(--fs-p);
  font-weight: 400;
  line-height: 24px;
}
body {
  max-width: 1240px;
  margin: auto;
  padding: 40px 30px;
  color: var(--white);
  background-color: var(--body);
  display: grid;
  grid-template-columns: 25% auto;
  gap: 40px;

  #container {
    background-color: var(--background);
    border-radius: 5px;
  }

  > div {
    grid-column: 2;
  }

  #hr1 {
    width: 249px;
    height: 3px;
    background: linear-gradient(
      to right,
      #056dbb,
      #0951a8,
      #090979,
      #0951a8,
      #056dbb
    );
    border: 0;
    border-radius: 5px;
    margin: -9px 0 22px;
  }

  > footer {
    grid-column: 1;
    grid-row: 1;
  }

  .border {
    position: relative;
    border: 1px solid var(--border);
    background-color: var(--background);
    border-radius: 15px;
    padding: 0px 35px 35px;
  }
}
header {
  display: flex;
  justify-content: space-between;

  nav {
    position: absolute;
    right: 0;
    top: 0;
    align-content: center;
    background-color: var(--nav);
    border: 1px solid var(--border);
    border-radius: 0 12px;
    padding: 20px 30px;

    a {
      font-size: 14px;
      color: var(--navtext);
      text-decoration: none;

      &:hover {
        color: var(--hr);
      }
    }
  }
  ul {
    display: flex;
    list-style: none;
    gap: 30px;
  }
  .active {
    color: var(--competence);
  }
  h1 {
    padding-top: 26px;
    font-size: 30px;
  }
}
main {
  h2 {
    padding: 25px 0 20px;
  }
  p {
    color: var(--white);
    letter-spacing: 0.7px;

    &:nth-child(2) {
      padding: 10px 0;
    }
  }
  #disposition-competence {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
    .competence {
      font-size: 75px;
      color: var(--competence);
    }
  }
}

#sidebar {
  grid-column: 1;
  grid-row: 1;
  #alignement-pdp {
    text-align: center;
    #pdp {
      width: 135px;
      border-radius: 25px;
    }
  }
  #moi {
    text-align: center;
    p {
      display: flex;
      position: relative;
      width: max-content;
      margin: auto;
      padding: 4px 20px;
      background: linear-gradient(
        to bottom right,
        hsl(0, 0%, 20%) 0%,
        hsla(0, 0%, 25%, 0) 50%
      );
      color: var(--white);
      background-color: hsl(240, 2%, 13%);
      border-radius: 5px;
      font-size: 13px;
      justify-content: center;
    }
    div {
      display: none;
    }
  }
  .contacts-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    .contact-container {
      min-width: 100%;
      display: flex;
      align-items: flex-start;
      gap: 16px;
      padding: 10px;
      .contact-info {
        max-width: calc(100% - 46px);
        width: calc(100% - 46px);
        p {
          color: var(--navtext);
          font-size: 17px;
        }
        a {
          color: var(--white);
          text-decoration: none;
          font-size: var(--fs-c);
          &:hover {
            color: var(--contact-hover);
          }
        }
        time,
        address {
          font-size: var(--fs-c);
        }
      }
    }
  }
  #icone-reseaux {
    text-align: center;

    .reseaux {
      margin: 25px 10px;
      color: var(--navtext);
    }
  }
}
.contact-icone {
  display: flex;
  position: relative;
  padding: 16px;
  border: 0;
  border-radius: 12px;
  background: #ccccdb; 
  background-color: hsl(240, 2%, 13%);
  box-shadow: inset -30px -31px 16px hsl(0, 0%, 25%) 0%, inset 2px 2px 4px #bcbcbc;

  /* linear-gradient(
    to bottom right, 
    hsl(0, 0%, 25%) 0%, 
    hsla(0, 0%, 25%, 0) 50%
  ) */
  font-size: 20px;
  color: #306f6b; 
}
.competence-container {
  padding: 30px 0;
  background-color: hsl(240, 2%, 13%);
  box-shadow: var(--shadow-2);
  border-radius: 20px;
}
footer {
  .border {
    position: sticky;
    top: 40px;
    height: 75%;
    margin-bottom: -1px;
    padding: 25px 15px 15px;
  }
}
.contacts-list {
  &:nth-child(4) .contact-icone {
    padding: 16px;
  }

  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7) {
    .contact-icone {
      padding: 16px 19px;
    }
  }
}
#hr2 {
  width: 100%;
  height: 1px;
  border: none;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    #056dbb,
    #0951a8,
    #090979,
    #0951a8,
    #056dbb
  );
  margin: 15px 0;
}

/* Voir pourquoi ça fonctionne pas */
#info_more-btn {
  display: none;
}
#info_more {
  display: block;
}

@media screen and (max-width:1240px){
  body {
    grid-template-columns: 1fr;
    gap: 40px;
    #sidebar {
      grid-column: 1;
      .border {
        position: relative;
        top: 0;
        height: auto;
        margin-bottom: 0;
        #resMoi-haut {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 40px;
          #alignement-pdp {
            text-align: left;
        }
        #moi {
          margin-top: 5px;
          p {
            margin: 0;
          }
          > div {
            display: flex;
            padding: 4px 0 0 39px;
            gap: 15px;
            > a {
              color: white;
            }
          }
        }
        #info_more-btn {
          position: absolute;
          right: 0;
          top: 0;
          padding: 10px 40px;
          color: var(--competence);
          background-color: var(--nav);
          border: 0;
          border-radius: 0 12px;
          font-size: 15px;
        }
      }
      #resMoi-bas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
      }
      #icone-reseaux {
        display: none;
      }
    }
    > div {
      grid-column: 1;
    }
  }
  #info_more-btn {
    display: block;
  }
  #info_more {
    display: none;
  }
}



@media screen and (max-width:905px){
  body{
    background: red;
  }
}