@import "tailwindcss";
body{
  background-color: #121212;
  letter-spacing: 0.7px;
  #root{
    max-width: 1240px;
    margin: auto;
    padding: 40px 30px;
    color: #d6d6d6;
    display: grid;
    grid-template-columns: 25% auto;
    gap: 40px;
  }
  #map > div > div.leaflet-control-container > div.leaflet-bottom.leaflet-right > div,
  #map > div > div.leaflet-control-container > div.leaflet-top.leaflet-left > div > a.leaflet-control-zoom-in,
  #map > div > div.leaflet-control-container > div.leaflet-top.leaflet-left > div > a.leaflet-control-zoom-out{
    display: none!important;
  }
}