@import "tailwindcss";
body{
  background-color: #121212;
  #root{
    max-width: 1240px;
    margin: auto;
    padding: 40px 30px;
    color: #d6d6d6;
    display: grid;
    grid-template-columns: 25% auto;
    gap: 40px;
  }
}