@forward "base/variables";
@forward "base/reset";

@forward "layout/header";
@forward "layout/footer";

@forward "components/buttons";
@forward "components/codeBlock";
@forward "components/projectsCards";
@forward "components/skillTech";

@forward "pages/404";
@forward "pages/about";
@forward "pages/contact";
@forward "pages/experience";
@forward "pages/home";
@forward "pages/project";
@forward "pages/projectDetails";
