$font-logo: "Outfit", sans-serif;
$font-title: "Roboto", sans-serif;
$font-main: "Open Sans", sans-serif;

$main-color: #000000;
$second-color: #ffffff;
$third-color: #fff8f0;
$nav-color: #7a7a7a;
$background-cover: #0000005c;

$w-logo: clamp(28px, 5vw, 47px);
$fz-title: clamp(24px, 4.5vw, 40px);
$fw-title: 600;
$fz-title2: clamp(28px, 4.5vw, 40px);
$fz-title3: clamp(20px, 3vw, 28px);
$fz-p: clamp(16px, 1.5vw, 20px);
$w-icon: clamp(18px, 2.5vw, 24px);

$space-xs: 8px 15px;
$space-sm: 30px 15px;
$space-md: 75px 15px;
$space-lg: 150px 15px;
